
<h1>Name Your Character</h1>
<input placeholder="Character Name">

<h1>Choose your Archetype</h1>
<app-search-bar></app-search-bar>

<p><app-filter-button [name]="filter1"></app-filter-button> <app-filter-button [name]="filter2"></app-filter-button></p>

<div *ngIf="people.length > 0">
    <ul>
        <!--this would be let model of models and I would pass a model-->
        <app-archetype-card *ngFor="let person of people" [person]="person" (clickedCard)="getClickedCard($event)"></app-archetype-card>

    </ul>
</div>


<app-archetype-list [models]="modelsForList"></app-archetype-list>